/primer-dataset.json
10-0-deployment.yaml
11-1-fluentd.yaml
11-2-nginx-fast-storage.yaml
11-3-kuard-secret.yaml
11-4-kuard-secret-ips.yaml
12-1-job-oneshot.yaml
12-2-job-oneshot-failure1.yaml
12-3-job-parallel.yaml
12-4-rs-queue.yaml
12-5-service-queue.yaml
12-7-job-consumers.yaml
13-2-kuard-config.yaml
15-1-dns-service.yaml
15-10-mongo-simple.yaml
15-11-mongo-service.yaml
15-12-mongo-configmap.yaml
15-13-mongo.yaml
15-2-external-ip-service.yaml
15-3-external-ip-endpoints.yaml
15-4-nfs-volume.yaml
15-5-nfs-volume-claim.yaml
15-6-mysql-replicaset.yaml
15-7-mysql-service.yaml
15-8-storageclass.yaml
15-9-dynamic-volume-claim.yaml
17-10-redis-service.yaml
17-11-redis.yaml
17-2-parse-service.yaml
17-4-ghost.yaml
5-1-kuard-pod.yaml
5-2-kuard-pod-health.yaml
5-3-kaurd-pod-resreq.yaml
5-4-kaurd-pod-reslim.yaml
5-5-kuard-pod-vol.yaml
5-6-kuard-pod-full.yaml
6-0-alpaca-prod.yaml
7-1-alpaca-prod-readiness.yaml
9-1-kuard-rs.yaml
